html body {
  background-color: rgb(236, 236, 236);
}

h1 {
  font-size: 6rem;
}

.page-title {
  font-family: "Poiret One", cursive;
}

.hidden {
  display: none;
}

.my-cart:hover {
  cursor: pointer;
}
